@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto);
  --font-public-sans: var(--font-public-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@theme {
  --color-primary: #A7292C;
  --color-goldenmile: #F8D64F;
  --color-outramorange: #E15F2B;
  --color-merlionwhite: #EBEBE9;
  --color-gardengreen: #406E3B;
  --color-marinablue: #0194FE;
  --color-monsoongrey: #7F8B9B;
  --animate-fill: fill 2s linear forwards;
  @keyframes fill {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
  display: flex;
  min-height: 100vh;
  font-size: 12px;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #888;
}

footer {
  border-top: 0.5px solid #999;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}