@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  zoom: 0.7;
  min-height: 100vh;
  min-height: 142.85dvh;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header, footer {
  display: flex;
  color: white;
  background-color: black;
}

header {
  text-transform: uppercase;
  flex-direction: row;
}

footer {
  flex-direction: column;
  height: 150px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}